#ad-index-banner-phone {
  display: none; }
  @media (max-width: 768px) {
    #ad-index-banner-phone {
      display: block; } }

#ad-index-banner {
  margin: 0 auto;
  height: 640px; }
  #ad-index-banner .index-banner {
    position: relative; }
  @media (max-width: 768px) {
    #ad-index-banner {
      display: none; } }

section {
  margin: 0 auto;
  max-width: 1280px;
  padding: 30px 0px; }
  @media (max-width: 768px) {
    section {
      padding: 0px; } }
  section li {
    float: left;
    width: 50%; }
    @media (max-width: 768px) {
      section li {
        float: none;
        width: 100%; } }
  section li:nth-child(2) {
    width: 46%;
    margin-left: 2%; }
    @media (max-width: 768px) {
      section li:nth-child(2) {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%; } }
  section .section-pic {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media (max-width: 768px) {
      section .section-pic {
        padding-top: 0rem;
        padding-bottom: 0rem; } }
    section .section-pic .section-pic-pc {
      display: block; }
      @media (max-width: 768px) {
        section .section-pic .section-pic-pc {
          display: none; } }
    section .section-pic .section-pic-phone {
      display: none; }
      @media (max-width: 768px) {
        section .section-pic .section-pic-phone {
          display: block; } }
  section .section-text {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    section .section-text h2 {
      color: #e98d7c;
      margin-bottom: 1rem;
      margin-top: 1rem;
      font-size: 2rem; }
    section .section-text h5 {
      color: #9B9B9B;
      font-size: 1.2rem;
      line-height: 1.5rem;
      margin-bottom: 1rem; }
    section .section-text p {
      color: #9B9B9B;
      line-height: 1.5rem; }

article {
  margin: 0 auto;
  background-color: #deeaee; }
  article li {
    float: left;
    width: 50%; }
    @media (max-width: 768px) {
      article li {
        float: none;
        width: 100%; } }
    article li .article-pic-pc {
      display: block; }
      @media (max-width: 768px) {
        article li .article-pic-pc {
          display: none; } }
    article li .article-pic-phone {
      display: none; }
      @media (max-width: 768px) {
        article li .article-pic-phone {
          display: block; } }
  article p {
    color: #9B9B9B;
    line-height: 1.5rem; }
  article .article-text {
    padding-top: 1rem;
    padding-bottom: 1rem; }

.article-text ul {
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 5rem; }
  @media (max-width: 768px) {
    .article-text ul {
      margin-left: 5%;
      margin-top: 1rem; } }
  .article-text ul li {
    float: left;
    width: 40%;
    margin-right: 10%; }
    @media (max-width: 768px) {
      .article-text ul li {
        float: none;
        width: 100%; } }
    .article-text ul li p {
      margin-bottom: 2rem; }
