#ad-index-banner-phone {
  display: none; }
  @media (max-width: 768px) {
    #ad-index-banner-phone {
      display: block; } }

#ad-index-banner {
  margin: 0 auto;
  height: 640px; }
  #ad-index-banner .index-banner {
    position: relative; }
  @media (max-width: 768px) {
    #ad-index-banner {
      display: none; } }

#top-kind h2 {
  font-family: 'Mitr', sans-serif;
  color: #EBA89C;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2rem; }

#top-kind li {
  float: left;
  width: 31.33333%;
  text-align: center; }

#top-kind li:first-child {
  margin-right: 3%; }

#top-kind li:nth-child(2) {
  margin-right: 3%; }

#top-kind span {
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: #9B9B9B;
  text-align: center;
  letter-spacing: .2rem; }

@media (max-width: 768px) {
  #top-kind {
    text-align: center; }
    #top-kind li {
      float: none;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      text-align: center;
      margin-bottom: 2rem; } }

#ad-abouts-banner-phone {
  display: none; }
  @media (max-width: 768px) {
    #ad-abouts-banner-phone {
      display: block;
      margin: 10px auto;
      height: auto; }
      #ad-abouts-banner-phone .abouts-banner-phone {
        position: relative; }
      #ad-abouts-banner-phone .bg-white-phone {
        padding: .5rem;
        background-color: #fff;
        z-index: 1;
        opacity: 0.7;
        text-align: center;
        font-size: 1.125rem;
        line-height: 2.5rem;
        position: absolute;
        top: 60px;
        left: 15%;
        right: 15%; }
      #ad-abouts-banner-phone h2 {
        font-family: 'Mitr', sans-serif;
        color: #EBA89C;
        margin-bottom: .5rem;
        margin-top: 1rem;
        font-size: 2rem; } }

#ad-abouts-banner {
  margin: 30px auto;
  height: 400px;
  padding-bottom: 20px; }
  #ad-abouts-banner .abouts-banner {
    position: relative; }
  #ad-abouts-banner .bg-white {
    padding: 1.25rem;
    background-color: #fff;
    z-index: 1;
    opacity: 0.7;
    text-align: center;
    font-size: 1.125rem;
    line-height: 2.5rem;
    position: absolute;
    top: 100px;
    left: 35%;
    right: 35%; }
    #ad-abouts-banner .bg-white h2 {
      font-family: 'Mitr', sans-serif;
      color: #EBA89C;
      margin-bottom: .5rem;
      margin-top: 1rem;
      font-size: 2rem; }
  @media (max-width: 768px) {
    #ad-abouts-banner {
      display: none; } }
