main {
  margin: 0 auto;
  max-width: 1280px; }

.reservation {
  padding: 20px 20px;
  height: auto; }
  .reservation .reservation-kind {
    float: left;
    margin-right: 20px;
    width: 20%; }
    @media (max-width: 768px) {
      .reservation .reservation-kind {
        float: none;
        width: 100%; } }
    .reservation .reservation-kind h2 {
      font-size: 1.5rem;
      color: #94D4EB;
      line-height: 1.5em;
      text-align: left;
      margin-bottom: 1em; }
  .reservation .reservation-main {
    float: right;
    width: 78%; }
    @media (max-width: 768px) {
      .reservation .reservation-main {
        float: none;
        width: 100%;
        margin-bottom: 20px; } }

.reservation-kind .fa-utensils {
  font-size: 30px;
  margin-right: 10px; }

.kind li a {
  display: block;
  color: #666;
  text-align: left;
  padding: 10px 5px;
  border-bottom: 1px solid #666;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px; }

.kind li a:hover {
  color: #94D4EB;
  font-weight: 600; }

.kind-all-open {
  display: none; }
  .kind-all-open li {
    display: block;
    color: #9B9B9B;
    text-align: left;
    padding: 10px 5px;
    border-bottom: 1px solid #666;
    text-decoration: none;
    font-size: 1rem;
    line-height: 20px; }

.kind-sale-open {
  display: none; }
  .kind-sale-open li {
    display: block;
    color: #9B9B9B;
    text-align: left;
    padding: 10px 5px;
    border-bottom: 1px solid #666;
    text-decoration: none;
    font-size: 1rem;
    line-height: 20px; }

.kind-mon-open {
  display: none; }
  .kind-mon-open li {
    display: block;
    color: #9B9B9B;
    text-align: left;
    padding: 10px 5px;
    border-bottom: 1px solid #666;
    text-decoration: none;
    font-size: 1rem;
    line-height: 20px; }

.kind-baby-open {
  display: none; }
  .kind-baby-open li {
    display: block;
    color: #9B9B9B;
    text-align: left;
    padding: 10px 5px;
    border-bottom: 1px solid #666;
    text-decoration: none;
    font-size: 1rem;
    line-height: 20px; }

.cake-bar {
  margin-bottom: 20px;
  margin-top: 10px;
  /*border: 1px solid #666;*/ }
  @media (max-width: 768px) {
    .cake-bar {
      margin-top: 40px; } }
  .cake-bar li {
    float: left; }
  .cake-bar li:nth-child(2) {
    width: 40%; }

.cake-search-box {
  height: 32px;
  padding: 5px;
  border: solid 1px #bababa;
  color: #bababa;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.cake-check {
  height: 32px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: right;
  /*border: solid 1px red;*/
  color: #fff;
  background-color: #bababa;
  padding-left: 4px;
  padding-right: 4px; }
  .cake-check .fa-clipboard-check {
    font-size: 20px;
    line-height: 32px;
    margin-right: 5px;
    margin-left: 10px; }

.cake-menu {
  height: auto;
  /*border: solid 1px red;*/ }
  .cake-menu li {
    text-align: center;
    display: block;
    float: left;
    width: 30%;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 5%;
    margin-bottom: 2.5rem;
    padding-bottom: 10px; }
    @media (max-width: 768px) {
      .cake-menu li {
        width: 100%; } }
    .cake-menu li img {
      border-radius: 20px;
      max-width: 100%;
      margin-bottom: 20px; }
  .cake-menu li:nth-child(3) {
    margin-right: 0px; }
  .cake-menu li:nth-child(6) {
    margin-right: 0px; }
  .cake-menu li:nth-child(9) {
    margin-right: 0px; }
  .cake-menu h4 {
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #9B9B9B;
    margin-bottom: 10px; }
  .cake-menu hr {
    width: 80%;
    height: 1px;
    border: none;
    border-top: 1px solid #666; }
  .cake-menu h3 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    color: #EBA89C; }
