$system-color: #EBA89C; //粉色
$system-color-2: #e98d7c; //深粉色
$match-color: #bababa; //粉灰
$match-color-4: #f4f4f4; //淡粉灰
$match-color-2: #94D4EB; //粉藍
$match-color-5:#deeaee; //淡粉藍
$match-color-3: #9B9B9B; //中灰
$white-color: #fff; //白
$title-font: 2rem;
$hit-font: 1.2rem;
$content-font: 1rem;
$littele-font: .8rem;

@mixin phone{
	@media(max-width: 768px){
	@content
	}
}

#ad-index-banner-phone{
  display: none;
  @include phone(){
  	display: block;
  }
}

#ad-index-banner {
  margin: 0 auto;
  height: 640px; 
  .index-banner {
   position: relative; }
  @include phone(){
  	display: none;
  }   
}

section{
	margin: 0 auto;
	max-width: 1280px;
	padding: 30px 0px;
	@include phone(){
	padding: 0px;	
	}
	li{
	float: left;
	width: 50%;
	@include phone(){
	float: none;
	width: 100%;	
	}
	}
	li:nth-child(2){
	width: 46%;
	margin-left: 2%;
	@include phone(){
	width: 90%;
	margin-left: 5%;
	margin-right: 5%; 	
	}
	}
	.section-pic{
	padding-top: 1rem;
	padding-bottom: 1rem;
	@include phone(){
	padding-top: 0rem;
	padding-bottom: 0rem;	
	}
	.section-pic-pc{
	display: block;	
	@include phone(){
	display: none;
	}
	}
	.section-pic-phone{
	display: none;
	@include phone(){
	display: block;
	}
	}		
	}
	.section-text{
	padding-top: 1rem;
	padding-bottom: 1rem;
	h2{
	color: $system-color-2;
	margin-bottom: 1rem;
	margin-top: 1rem;
	font-size: $title-font;
	}
	h5{
	color: $match-color-3;
	font-size: $hit-font;
	line-height: 1.5rem;
	margin-bottom: 1rem;
	}
	p{
	color: $match-color-3;	
	line-height: 1.5rem;
	}
	}
}

article{
	margin: 0 auto;
	background-color: $match-color-5;
	li{
	float: left;
	width: 50%;
	//background-color: red;
	@include phone(){
	float: none;
	width: 100%;	
	}
	.article-pic-pc{
	display: block;
	@include phone(){
	display: none;
	}
	}
	.article-pic-phone{
	display: none;
	@include phone(){
	display: block;
	}	
	}
	}
	p{
	color: $match-color-3;	
	line-height: 1.5rem;
	}
	.article-text{
	padding-top: 1rem;
	padding-bottom: 1rem;
	}
}

.article-text{
	ul{
	margin-left: 10%;
	margin-right: 5%;
	margin-top: 5rem;
	@include phone(){
	margin-left: 5%;
	margin-top: 1rem;
	}
	li{
	float: left;
	width: 40%;
	margin-right: 10%;
	//background-color: green;
	@include phone(){
	float: none;
	width: 100%;
	}
	p{
	margin-bottom: 2rem; 	
	}
	}
	}

}