$system-color: #EBA89C; //粉色
$match-color: #bababa; //粉灰
$match-color-4: #f4f4f4; //淡粉灰
$match-color-2: #94D4EB; //粉藍
$match-color-5:#deeaee; //淡粉藍
$match-color-3: #9B9B9B; //中灰
$white-color: #fff; //白
$title-font: 2rem;
$hit-font: 1.2rem;
$content-font: 1rem;
$littele-font: .8rem;

@mixin phone{
	@media(max-width: 768px){
	@content
	}
}

#ad-index-banner-phone{
  display: none;
  @include phone(){
  	display: block;
  }
}

#ad-index-banner {
  margin: 0 auto;
  height: 640px; 
  .index-banner {
   position: relative; }
  @include phone(){
  	display: none;
  }   
}

#top-kind{
    h2{
    	font-family: 'Mitr', sans-serif;
    	color: $system-color;
    	text-align: center;
		margin-bottom: 1rem;
		margin-top: 1rem;
		font-size: $title-font;
    }
    li{
    	float: left;
    	width: 31.33333%;
    	text-align: center;
    }
    li:first-child{
	margin-right: 3%;
	}
	li:nth-child(2){
	margin-right: 3%;
	}

	span{
		font-size: $hit-font;
		line-height: 2.5rem;
		color: $match-color-3;
		text-align: center;
		letter-spacing: .2rem;
	}
	 @include phone(){
  	text-align: center;
    li{
    	float: none;
    	width: 80%;
    	margin-left: 10%;
    	margin-right: 10%;
    	text-align: center;
    	margin-bottom: 2rem;
    }
  	}   
}


#ad-abouts-banner-phone{
	display: none;
	@include phone(){
	display: block;
	margin: 10px auto;
	height: auto;
	.abouts-banner-phone{
		position: relative;
	}
	.bg-white-phone{
		padding: .5rem;
		background-color: #fff;
		z-index: 1;
		opacity:0.7;
		text-align: center;
		font-size: 1.125rem;
		line-height: 2.5rem;
		position: absolute;
		top: 60px;
		left: 15%;
		right: 15%;
		}	
		h2{
    	font-family: 'Mitr', sans-serif;
    	color: $system-color;
		margin-bottom: .5rem;
		margin-top: 1rem;
		font-size: $title-font;
    }
	}
}

#ad-abouts-banner{
	margin: 30px auto;
	height: 400px;
	padding-bottom: 20px;
	.abouts-banner{
		position: relative;
	}
	.bg-white{
			h2{
    	font-family: 'Mitr', sans-serif;
    	color: $system-color;
		margin-bottom: .5rem;
		margin-top: 1rem;
		font-size: $title-font;
    }
		padding: 1.25rem;
		background-color: #fff;
		z-index: 1;
		opacity:0.7;
		text-align: center;
		font-size: 1.125rem;
		line-height: 2.5rem;
		position: absolute;
		top: 100px;
		left: 35%;
		right: 35%;
	}
	@include phone(){
		display: none;
	}
}





	