$system-color: #EBA89C; //粉色
$match-color: #bababa; //粉灰
$match-color-4: #f4f4f4; //淡粉灰
$match-color-2: #94D4EB; //粉藍
$match-color-5:#deeaee; //淡粉藍
$match-color-3: #9B9B9B; //中灰
$white-color: #fff; //白
$title-font: 2rem;
$hit-font: 1.2rem;
$content-font: 1rem;
$littele-font: .8rem;



body{ 
	background:#FFF; 
	padding:25px 25px 0px 25px; 
	font-size: $content-font; 
	line-height:2em;
}

h1{
	padding-bottom:15px; 
	text-align:center;
}

.message{
	padding:15px; 
	border:#9B9B9B 1px solid;
}

.copyright{
	text-align:center; 
	font-size: $match-color-3; 
	color:#999; 
	margin-top:25px;
}